<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="generator" content="Sublime Text 2" />

	<title>QPoints</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel='stylesheet' id='responsive-style-css'  href="{{static '/css/styles.css'}}" type='text/css' media='all' />
</head>
<body>
	<div>
		{{#if flash}}
			<div class="alert alert-dismissible alert-{{flash.type}}">
				<button type="button" class="close" 
					data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>{{flash.intro}}</strong> {{{flash.message}}}
			</div>
		{{/if}}
			
		<header>
			<img src="{{static '/images/QPointsLogo.png'}}">
			<div class="col-sm-2 pull-right">
			{{! The following represents a lot of code duplication, so we will probably want to
				change this in the future }}
			{{#if cartItems}}
				<a href="/cart"><img class="cartIcon" src="{{static '/images/cart-full-icon.png'}}"
					alt="Cart Empty"></a>
			{{else}}
				<a href="/cart"><img class="cartIcon" src="{{static '/images/cart-icon.png'}}"
					alt="Cart Contains {{cartItems}} Items"></a>
			{{/if}}
		</div>
		</header>
		{{{body}}}
	</div>
	 <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
</body>
</html>