<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="generator" content="Sublime Text 2" />

	<title>QPoints</title>
	<!-- Latest compiled and minified CSS -->
	{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> --}}
	<link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
	<link rel='stylesheet' id='responsive-style-css'  href="/css/styles.css" type='text/css' media='all' />
</head>
<body>
	<header class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
		      data-target=".navbar-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/"><img src="/images/QPointsLogo.png"></a>
		    </div>
			<!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" role="navigation">
			    <ul class="nav navbar-nav">
			    	{{#gt roleLevel 5}}<li {{{navProgram}}}><a href="/programm">Meine Programme</a></li>{{/gt}}
			    	{{#gt roleLevel 7}}<li {{{navAccount}}}><a href="/user">Konto</a></li>{{/gt}}
			    	{{#gt roleLevel 2}}<li {{{meinepunkte}}}><a href="/meinepunkte">Meine Punkte</a></li>{{/gt}}
			    	{{#gt roleLevel 9}}<li {{{navAdmin}}}><a href="/admin/kunden">Admin</a></li>{{/gt}}
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			    	<li>{{#if loggedInUser}}<a href="/user/{{loggedInUsername}}">{{loggedInUser}}</a></li><!-- login/logout -->
			    	<li><a href="/logout">Log Out</a></li>
			    	{{else}}<a href="/login">Anmelden</a></li>{{/if}}
		  			<li> <!-- CART -->
						{{#if cartItems}}
						<a href="/warenkorb" style="padding: 0 15px 0; display: table-cell; vertical-align: middle; height: 50px;"><img class="cartIcon" src="/images/cart-full-icon.png" alt="Cart Empty"></a>
						{{else}}
						<a href="/warenkorb" style="padding: 0; display: table-cell; vertical-align: middle; height: 50px;"><img class="cartIcon" src="/images/cart-icon.png"
								alt="Cart Contains {{cartItems}} Items"></a>
						{{/if}}
					</li><!-- /CART -->
				</ul><!-- /.avbar-right -->
		    </div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</header>
	<div>
		{{#if flash}}
			<div class="alert alert-dismissible alert-{{flash.type}}">
				<button type="button" class="close" 
					data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>{{flash.intro}}</strong> {{{flash.message}}}
			</div>
		{{/if}}

		{{{body}}}
	</div>
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
	<script src="/bootstrap/jquery-1.11.0.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<!-- <script src="https://maxcdn.strapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
	<script src="/bootstrap/bootstrap.min.js"></script>
</body>
</html>