<h4>{{firstName}}'s Profil Aktualisieren</h4><br>

<div class="formContainer">
    <form class="form-horizontal productsForm" role="form" action="/user/edit/{{username}}" method="POST">
        <input type="hidden" name="userId" value='{{userId}}'>
        <input type="hidden" name="username" value='{{username}}'>
        
        <div class="form-group">
            <label for="fieldUserName" class="col-sm-2 control-label">Username (email):</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" value="{{username}}" id="fieldUserName" name="username" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="fieldFirstName" class="col-sm-2 control-label">Vorname</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" value="{{firstName}}" id="fieldFirstName" name="firstName">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldLastName" class="col-sm-2 control-label">Nachname</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" value="{{lastName}}" id="fieldLastName" name="lastName">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldGender" class="col-sm-2 control-label"></label>
            <div class="col-sm-4">
                <select class="form-control" name="gender" id="fieldGender">
                    <option value="0" {{#contentCheck gender '0'}}selected="selected"{{/contentCheck}}>Nicht angeben</option>
                    <option value="1" {{#contentCheck gender '1'}}selected="selected"{{/contentCheck}}>Weiblich</option>
                    <option value="2" {{#contentCheck gender '2'}}selected="selected"{{/contentCheck}}>Männlich</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="fieldRole" class="col-sm-2 control-label">Rolle</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" value="{{role}}" id="fieldRole" name="role" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Aktualiseren</button>
            </div>
        </div>
        <script type="text/javascript">document.getElementById('fieldFirstName').focus();</script>
    </form>
</div>