<div class="container-fluid">
	<div class="row">

		{{> mypointsNav  }}

		<div role="main"  class="col-sm-9 col-md-10 main">
			{{!-- <h3>Lokale QPoints Botschaften</h3> --}}
			{{#if news}}
			<ul class="list-group">
				{{#news}}
				<li class="list-group-item">
					<span class="badge">{{newsDate}}</span>
					<h6 class="list-group-item-heading">{{company}} - {{programName}}</h6>
					<h4 class="list-group-item-heading">{{newsTitle}}</h4>
					<span>{{newsMessage}}</span><br>
					<br>
				</li>
				{{/news}}
			</ul>
			{{else}}
			<p>Bisher wurde noch kein Treuepunkt erfasst.</p>
			<p>Sobald du Deine ersten Treuepunkte gesammelt hast erscheinen diese hier.</p>
			{{/if}}	
		</div>

	</div>
</div>
