<h4>Programm {{nr}} "{{programName}}"</h4>

<dl class="dl-horizontal">
  <dt>Status</dt>
  <dd>{{programStatus}}</dd>
  <dt>Notwendige Punkte</dt>
  <dd>{{goalCount}}</dd>
  <dt>Gültig ab</dt>
  <dd>{{startDate}}</dd>
  <dt>Einlösbar bis</dt>
  <dd>{{deadlineSubmit}}</dd>
  <dt>Erstellt von</dt>
  <dd><a href="/user">{{createdByName}}</a></dd>
  <dt>Erstellt am</dt>
  <dd>{{created}}</dd>
</dl>

<table>
  {{#each usersNearGoal}}
  {{#if this}}
  <tr>
    {{#if @index}}
    <td>{{this}} Kunde(n) fehlen {{@index}} Punkt(e)</td>
    {{else}}
    <td>{{this}} Kunde(n) haben Zielpunkte erreicht!</td>
    {{/if}}
  </tr>
  {{/if}}
  {{/each}}
</table>
<h4>Zugeordnete Rollen:</h4>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <td>Rolle Nr</td>
      <td>Punkte</td>
    </tr>
  </thead>
  <tbody>
    {{#allocatedReels}}
    <tr class='clickableRow' onclick="window.document.location='/rollen/{{nr}}';"> 
      <td>{{nr}}</td>
      <td>{{activatedCodes}} von {{quantityCodes}}</td>
    </tr>  
    {{/allocatedReels}}
  </tbody>
</table>


<form class="form-horizontal newsletterForm" role="form" action="/programm/:nr" method="POST">
    <div class="form-group">
    	<input type="hidden" name="programId" value="{{id}}">
    	<input type="hidden" name="programNr" value="{{nr}}">
        <div class="col-sm-4">
            <select class="form-control" name="newReelId">
                <option value="">Neue Rolle zuordnen</option>
                {{#each reels}}<option value="{{reelId}}">{{reelNr}}</option>{{/each}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-default">Speichern</button>
        </div>
    </div>
</form>
