<h3>{{customerCompany}} Treuepunkte Programme</h3>
<a href="/programm/anlegen" class="btn btn-default">Neues Programm anlegen</a></br></br>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td>Nr</td>
			<td>Name</td>
			<td>Status</td>
			<td>Ziel Punkte</td>
			<td>Gültig ab</td>
			{{!-- <td>Lesbar bis</td> --}}
			<td>Einlösbar bis</td>
			<td>Rollen</td>
		</tr>
	</thead>
	<tbody>
		{{#programs}}
		<tr class='clickableRow' onclick="window.document.location='/programm/{{nr}}';"> 
			<td>{{nr}}</td>
			<td>{{programName}}</td>
			<td>{{programStatus}}</td>
			<td>{{goalToHit}}</td>
			<td>{{startDate}}</td>
			{{!-- <td>{{deadlineScan}}</td> --}}
			<td>{{deadlineSubmit}}</td>
			<td>{{#allocatedReels}}
				{{#if @index}}, {{/if}}<a href="/rollen/{{nr}}">{{nr}}</a>{{/allocatedReels}}</td>
		</tr>
		{{/programs}}
	</tbody>
	
</table>


