<h3>Warenkorb von {{name}}</h3>
{{#each cart.errors}}
	<div class="alert alert-danger">{{.}}</div>
{{/each}}
{{#each cart.warnings}}
	<div class="alert alert-warning">{{.}}</div>
{{/each}}

<table class="table table-striped">
	<thead>
		<tr>
			<td>Produkt Nr</td>
			<td>Name</td>
			<td >Anzahl</td>
			<td>Einzelpreis</td>
			<td>Summe</td>
			<td>Anzahl +/-</td>
		</tr>
	</thead>
	<tbody>
		{{#each cart.items}}
			<tr>
				<td>{{nr}}</td>
				<td>{{productName}}</td>
				<td>{{quantity}}</td>
				<td>{{price}} €</td>
				<td>{{itemSum}} €</td>
				<td><a href="/warenkorb/add?nr={{nr}}" data-nr="{{nr}}"><img src="{{static '/images/plus-icon.png'}}"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/warenkorb/sub?nr={{nr}}" data-nr="{{nr}}"><img src="{{static '/images/minus-icon.png'}}"></a></td>
			</tr>
		{{/each}}
		{{#if cart.total}}
			<tr class="info">
				<td></td>
				<td></td>
				<td></td>
				<td>Gesamt</td>
				<td>{{cart.total}} €</td>
				<td></td>
			</tr>
		{{/if}}
	</tbody>
</table>

<a class="btn btn-primary" href="/warenkorb/checkout">Checkout</a>