<h1>QPoints Rollen:</h1>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td>Nr</td>
			<td>Status</td>
			<td>Anzahl</td>
			<td>Zugeordnetes Programm</td>
			<td>Erster Code</td>
		</tr>
	</thead>
	<tbody>
		{{#reels}}
		<tr class='clickableRow' onclick="window.document.location='/rollen/{{nr}}';">
			<td>{{nr}}</td>
			<td>{{#reelStatus}}bestellt{{/reelStatus}}
				{{^reelStatus}}aktiviert{{/reelStatus}}</td>
			<td>{{quantityCodes}}</td>
			<td>{{assignedProgram}}</td>
			<td>{{ersterCode}}</td>
		{{/reels}}
	</tbody>	
</table>
