<h3>QPoints Kunden</h3></br>
<a href="/kunden/anmelden" class="btn btn-default">Neuen Kunden anmelden</a>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td>Kunden Nr</td>
			<td>Firma</td>
			<td>Vorname</td>
			<td>Nachname</td>
			<td>email</td>
			<td>Stadt</td>
		</tr>
	</thead>
	<tbody>
		{{#customers}}
		<tr class='clickableRow' onclick="window.document.location='/kunden/{{nr}}';">
			<td>{{nr}}</td>
			<td>{{company}}</td>
			<td>{{firstName}}</td>
			<td>{{lastName}}</td>
			<td>{{email}}</td>
			<td>{{city}}</td>
		{{/customers}}
	</tbody>
	
</table>
