<h1>Kundeninformation:</h1>
<h3>Kunden Nr: </h3>
<p>{{nr}}</p>
<h2>{{firstName}} {{lastName}}</h2>
<p>{{email}}</p>

<h3>Addresse:</h3>
<p>{{{address1}}}</p>
<p>{{{address2}}}</p>
<p>{{zip}} {{city}} {{state}}</p>

<h3>Phone:</h3>
{{phone}}
