<h3>{{customerCompany}} Botschaft an Teilnehmer von Program "{{programName}}"</h3>
<p>Status vom Programm: {{programStatus}}</p>

<dl class="dl-horizontal">
	<dt>Titel</dt>
	<dd>{{newsTitle}}</dd>
	<dt>Botschaft</dt>
	<dd>{{newsMessage}}</dd>
	<dt>Erstellt von</dt>
	<dd>{{firstName}}</dd>
	<dt>Gültig ab</dt>
	<dd>{{newsStartDate}}</dd>
	<dt>bis</dt>
	<dd>{{newsDeadline}}</dd>
	<dt>Status</dt>
	<dd>{{newsStatus}}</dd>
	<dt>Bisher ausgeliefert</dt>
	<dd>{{newsDeliveryCount}}</dd>
	<dt>Ausliergungslimit</dt>
	<dd>{{newsDeliveryLimit}}</dd>
	<dt>Gekauft</dt>
	<dd>{{newsBudget}}</dd>
</dl>
<br>
<br>
<a href="/news/edit/{{newsId}}" class="btn btn-default">Botschaft bearbeiten</a></br></br>
