<h3>Produkt Information</h3>
<h3>{{productName}}</h3>

<p>Nummer: {{nr}}</p>

<p>Preis: {{price}}</p>

<a href="/warenkorb/add?nr={{nr}}" data-action="cart-add" data-nr="{{nr}}" class="btn btn-default">Produkt zum Warenkorb hinzufügen</a></br>