<h1>Produkt Information</h1>
<h3>{{productName}}</h3>

<h3>Nummer:</h3>
<p>{{nr}}</p>

<h3>Preis:</h3>
<p>{{price}}</p>

<a href="/cart/add?nr={{nr}}" data-action="cart-add" data-nr="{{nr}}" class="btn btn-default">Produkt zum Einkaufskorb hinzufügen</a></br>